<div class="w-full flex flex-col items-center">
    @if (competitionData$ | async; as competition) {
        <div class="w-full sm:w-3/4 text-white my-2.5 h-32 rounded-xl overflow-hidden [background:linear-gradient(0deg,rgba(81,49,243,1)_0%,rgba(0,0,0,1)_73%)]">
            <div class="w-full h-full flex items-center justify-center gap-10">
                <img class=" w-35 h-30 sm:w-60 sm:h-24" alt="Logo" src="{{competition.competition_data.logo_url}}"/>
                <div class="font-semibold tracking-[0] leading-[normal]">
                    <div class="flex items-center gap-5 mb-1">
                        <span class="text-xl">Competition data:</span>
                    </div>
                    <p class="text-[1.1rem]">Name: {{competition.competition_data.title}}</p>
                    <p class="text-[1.1rem]">Country {{competition.competition_data.country}}</p>
                    <p class="text-[1.1rem]">Actual Season: 2024/2025</p>
                </div>
            </div>
        </div>
        <league-table class="w-full sm:w-3/4" [data]="(competitionData$ | async) ?? this.eje"></league-table>
        <div class="w-full h-22 px-3 flex flex-col gap-1 sm:gap-0 justify-center
         items-center sm:h-18 sm:w-3/4 border-2 border-black rounded-2xl mt-2">
            <span class="flex flex-row text-[1.1rem] font-semibold">Qualified for: 
                <div class="w-5 h-5 p-3 mx-1 rounded-full bg-blue-200"></div> Champions League
                <div class="w-5 h-5 p-3 mx-1 rounded-full bg-yellow-200"></div> Europa League
                <div class="w-5 h-5 p-3 mx-1 rounded-full bg-green-200"></div> Conference League
            </span>
            <span class="flex flex-row text-[1.1rem] font-semibold"> Relegated:
                <div class="w-5 h-5 p-3 mx-1 rounded-full bg-red-200"></div>
            </span>
        </div>
        <cdk-accordion class="w-full sm:w-3/4">
            <cdk-accordion-item #accordionItem="cdkAccordionItem">
                <div class="w-full mt-4 mb-2 h-10 sm:h-10 px-1 bg-black flex justify-between items-center bg-linear-to-b from-slate-950 from-43% to-[#5131f3] to-90%">
                    <div class="w-full flex flex-row content-center justify-between px-2">
                        <span class="text-white text-[1.3rem] font-semibold">Most relevants Players</span>
                        <button (click)="accordionItem.toggle()" class="text-white">
                            <mat-icon fontIcon="{{accordionItem.expanded ? 'arrow_upward' : 'arrow_downward'}}"></mat-icon>
                        </button>
                    </div>
                </div>
                @if (accordionItem.expanded) {
                    <stats-tables [topScorersData]="competition.top_scorers" [mostYellowCardData]="competition.most_yellow_cards"
            [topMediaPlayersData]="competition.top_media_players" [topGoalkeepersData]="competition.top_goalkeepers" class="w-full"></stats-tables>
                }
            </cdk-accordion-item>
        </cdk-accordion>
        @if (competitionMatches$ | async; as competitionMatches) {
            <p-table class="w-full sm:w-3/4 border-2 border-black" [value]="competitionMatches.matches" [scrollable]="true" scrollHeight="630px"
            [rows]="rows" rowsGroupMode="subheader" groupRowsBy="matches.description">
                <ng-template #caption>
                    <div class="py-1 [background:linear-gradient(0deg,rgba(81,49,243,1)_0%,rgba(0,0,0,1)_73%)] text-center">
                        <span class="text-white text-[1.3rem] font-semibold">Matches</span>
                        <span class="text-white text-[1.3rem] font-bold">
                            <mat-icon class="align-middle text-white ml-2" fontIcon="scoreboard"></mat-icon> 
                        </span>
                    </div>
                </ng-template>
                <ng-template #groupheader let-rowData>
                    <tr pRowGroupHeader class="bg-linear-to-t! from-slate-950 from-43% to-[#5131f3] to-90%">
                        <td colspan="5">
                            <div class="text-center py-1">
                                <span class="text-[1.1rem] font-semibold text-white">{{rowData.description}}</span>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template #body let-rowData>
                    <tr>
                        <td>
                            <match-slot [matchData]="rowData" class="w-full h-fit border-2 border-main grid grid-cols-[1fr,auto,1fr] grid-rows-[auto,auto] rounded-2xl my-1.5"></match-slot>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        
        }
    
    }
</div>
