<div class="w-full flex flex-col items-center">
    <app-search-bar [isSearchPage]="false"
    [selectPlayerForComparison]="selectPlayerForComparison.bind(this)" 
    (searchResults)="onSearchResults($event)"
    (searchTermChange)="onSearchTermChange($event)"
    class="w-full sm:w-3/4"></app-search-bar>
    @if (player1Selected() == true || player2Selected() == true) {
        <div class="w-full sm:w-3/4 grid grid-cols-2 gap-5">
            @if (player1Selected()) {
                <div class="flex flex-row items-center border-2 border-gray-400 rounded-lg p-2 my-2 bg-white">
                    <p class="font-semibold text-[1rem]">Player 1: {{player1().pname}}</p>
                    <button (click)="deselectPlayer(1)" class="rounded-2xl mt-1.5 p-1 hover:text-red-500 hover:bg-gray-300 cursor-pointer">
                        <mat-icon class="cursor-pointer">close</mat-icon>
                    </button>
                </div>
            }
            @if (player2Selected()) {
                <div class="flex flex-row items-center border-2 border-gray-400 rounded-lg p-2 my-2 bg-white">
                    <p class="font-semibold text-[1rem]">Player 2: {{player2().pname}}</p>
                    <button (click)="deselectPlayer(2)" class="rounded-2xl mt-1.5 p-1 hover:text-red-500 hover:bg-gray-300 cursor-pointer">
                        <mat-icon class="cursor-pointer">close</mat-icon>
                    </button>
                </div>
            }
        </div>
    }
    @if (isBothPlayersSelected() == true) {
        <div class="w-40 box-border border-2 border-green-500  text-green-500 rounded-lg flex justify-center items-center mt-2 p-1.5 hover:bg-green-500 hover:text-white cursor-pointer ease-in-out duration-200">
            <button mat-raised-button color="primary" class="cursor-pointer" (click)="compareSelectedPlayers()">
                <span class="font-black text-[1.1rem]">Compare Players</span>
            </button>
        </div>
    }
    <div class="w-full sm:w-3/4 grid grid-cols-2">
        
    </div>
    @if (isSubmited() == true && player1Selected() == true && player2Selected() == true) {
        <app-compare-results
        [player1]="player1().slug" 
        [player2]="player2().slug" 
        class="w-full sm:w-3/4 mt-4">
        </app-compare-results>
    }@else {
        <div class="w-full sm:w-3/4 h-fit flex flex-col items-center border-2 border-black mt-2 px-6">
            @if (hasSearched()) {
                <p class="text-[1.1rem] font-semibold my-2">Results for: '<span class="font-bold">{{currentSearchTerm()}}</span>'</p>
                @for (item of searchResultsData().search_results; track $index) {
                    @if (hasPlayersData(item)) {
                            <div class="w-full">
                                <div class="w-full mb-2 h-8.5 sm:h-10 p-1 bg-black flex justify-center items-center bg-linear-to-b from-slate-950 from-43% to-[#5131f3] to-90%">
                                    <p class="text-[1.1rem] text-white font-semibold">{{item.field}}</p>
                                </div>
                                <div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 px-3">
                                    @for (playerItem of item.players_data; track $index) {
                                        <div class="border-2 border-gray-400 rounded-lg p-2 my-2 hover:border-black
                                        grid grid-cols-[1fr_2fr] grid-rows-[2fr_1fr] gap-2 items-center text-[1rem]">
                                            <img src="default-user.png" alt="playerimg" class="w-14 h-14 row-start-1 row-end-2 rounded-full justify-self-center"/>
                                            <div class="flex flex-col row-start-1 row-end-2">
                                                <p class="font-bold">Name: {{playerItem.pname}} {{playerItem.lastname}}</p>
                                                <p>Position: {{playerItem.position}}</p>
                                                <p>Team: {{playerItem.team.title}}</p>
                                                <div class="flex items-center">Nationality: <img src="{{playerItem.nationality_flag}}" alt="country_flag" class="w-6 h-6 ml-1"></div>
                                            </div>
                                            <div class="row-start-2 row-end-3">
                                                <button mat-raised-button color="primary" class="cursor-pointer" (click)="selectPlayerForComparison(playerItem); $event.stopPropagation();">
                                                    Select for Comparison
                                                </button>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                }
            } @else {
                <p class="text-[1.2rem] font-semibold my-2">No search has been made yet. Please use the search bar above to find players to compare.</p>
            }
        </div>
        <div class="w-full sm:w-3/4 flex flex-col items-center justify-center border-2 border-black mt-2 gap-2">
            <div class="w-full flex justify-center bg-linear-to-b from-slate-950 from-43% to-[#5131f3] to-90%">
                <span class="text-[1.3rem] font-semibold text-white py-2">Most Searched Players</span>
            </div>
            @if (mostSearchedPlayers$ | async; as mostSearchedPlayersData) {
                <div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-4 px-3">
                    @for (playerItem of mostSearchedPlayersData.most_searched_players; track $index) {
                            <div class="border-2 border-gray-400 rounded-lg p-2 my-2 hover:border-black
                                grid grid-cols-[1fr_2fr] grid-rows-[2fr_1fr] gap-2 items-center text-[1rem]">
                                <img src="default-user.png" alt="playerimg" class="w-14 h-14 row-start-1 row-end-2 rounded-full justify-self-center"/>
                                <div class="flex flex-col row-start-1 row-end-2">
                                    <p class="font-bold">Name: {{playerItem.pname}} {{playerItem.lastname}}</p>
                                    <p>Position: {{playerItem.position}}</p>
                                    <p>Team: {{playerItem.team.title}}</p>
                                    <div class="flex items-center">Nationality: <img src="{{playerItem.nationality_flag}}" alt="country_flag" class="w-6 h-6 ml-1"></div>
                                </div>
                                @if (isBothPlayersSelected() == false) {
                                    <div class="w-full flex justify-center col-start-1 col-end-4 row-start-2 row-end-3">
                                        <button mat-raised-button color="primary" (click)="selectPlayerForComparison(playerItem); $event.stopPropagation();"
                                        class="cursor-pointer border-3 border-[#5131f3] p-1 rounded-full text-[#5131f3] font-semibold hover:bg-[#5131f3] hover:text-white ease-in-out duration-200">
                                            Select for Comparison
                                        </button>
                                    </div>
                                }
                            </div>
                        }
                </div>
            }
        </div>
    }
    
</div>

