# Django
SECRET_KEY=replace-with-a-unique-secret-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database Container Settings
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=myuser
POSTGRES_PASSWORD=replace-with-a-strong-password
POSTGRES_DB=playvisiondb

# App behavior to control whether the database should be initialized with initial data at startup. 
# Set to 'true' to enable seeding, 'false' to disable.
SEED_DB=false

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:4200,http://localhost,http://127.0.0.1
