<div class="flex flex-col items-center w-full h-full text-white border-r-2  border-black bg-linear-to-r sm:bg-linear-to-r xl:bg-linear-to-r 2xl:bg-linear-to-r from-slate-950 from-43% to-[#5131f3] to-90% box-border overflow-y-auto">
    <p class="mt-3 font-bold text-[1.1rem] md:text-[1.4rem] xl:text-[1.4rem] 2xl:text-[1.4rem]">Competitions</p>
    @if (competitionsData$ | async; as data) {
        @for (item of data.countries; track $index) {
            <div class="w-full h-25 my-2 flex flex-col items-center gap-2">
                <cdk-accordion class="w-full mt-4">
                    <cdk-accordion-item #accordionItem="cdkAccordionItem" [expanded]="false">
                        <div class="w-full mb-2 h-8.5 sm:h-10 p-1 flex cursor-pointer justify-between items-center bg-linear-to-r from-slate-950 from-43% to-[#5131f3] to-90%">
                            <div class="w-full flex flex-row content-center justify-between" (click)="accordionItem.toggle()">
                                <div class="flex flex-row items-center gap-2">
                                    <img src="{{item.flag_url}}" alt="logo" srcset="" class="w-7 h-7">
                                    <span class="text-white text-base font-semibold text-[1.3rem]">{{item.country_name}}</span>
                                </div>
                                <button  class="text-white cursor-pointer">
                                    <mat-icon [fontIcon]="accordionItem.expanded ? 'keyboard_arrow_upward' : 'keyboard_arrow_downward'"></mat-icon>
                                </button>
                            </div>
                        </div>
                        @if (accordionItem.expanded) {
                            @for (comp of item.competitions; track $index) {
                                <div [routerLink]="['/competitions', comp.slug]" routerLinkActive="bg-white text-[#5131f3]" class="w-full cursor-pointer text-[1.1rem] font-semibold text-center rounded-sm
                                hover:bg-white hover:text-[#5131f3] hover:ease-in-out hover:duration-200">
                                    <span class="w-full">
                                        {{comp.title}}
                                    </span>
                                </div>
                            }
                        }
                    </cdk-accordion-item>
                </cdk-accordion>
            </div>
        }
    }
</div>